//Sizes 
$size: 15px;

//Colors
$btn-defult-bg: #2563eb;
$btn-defult-color: #fff;
$btn-defult-bg-hover: #2196f3;

$btn-primary-bg: transparent;
$btn-primary-color: #fff;
$btn-primary-bg-hover: #fff;
$btn-primary-color-hover: #03DAC5;

$text-blue: #2563eb;
$text-white: #fff;
$text-green: #03DAC5;
$text-black: #000;