#topNav {
  height: $size * 5;

  .container {
    display: flex;
    margin: $size;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    .logo {
      background-image: url("../../images/logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: $size * 2;
      width: $size * 20;
    }
  }
}